<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWwT9I7v83oEbVlEN5AE9A4bf30HcSvbU</string>
	<key>GCM_SENDER_ID</key>
	<string>386153852199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseNitification</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-test-58f39</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-test-58f39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386153852199:ios:e3ae5a08feb6bf86d08d02</string>
</dict>
</plist>